main{
    background: url(../img/back/about_back.png) center/cover no-repeat;
}
.main_wrapper{
    min-height: 1080px;
    margin: 70px 0;
}
h1, h2{
    font-size: 87px;
    color: #7ABA52;
}
.main_wrapper p{
    font-size: 24px;
    color: #000;
    margin: 70px 0;
}
@media (max-width:1024px) {
    h1, h2{
        font-size: 64px;
    }
}
@media (max-width:768px) {
    h1, h2{
        font-size: 40px;
    }
}
@media (max-width:425px) {
    h1, h2{
        font-size: 30px;
    }  
}