main{
    background: url(../img/back/catalog_back.png) center/cover no-repeat;
}
.main_wrapper{
    min-height: 1080px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 45px;
    margin: 70px 0;
}
.cell{
    border-radius:5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    padding: 21px;
    width: 100%;
    max-width: 450px;
    height: 350px;
}
.tovar1{background: url(../img/icon/tovar1.png) center/cover no-repeat;}
.tovar2{background: url(../img/icon/tovar2.png) center/cover no-repeat;}
.tovar3{background: url(../img/icon/tovar3.png) center/cover no-repeat;}
.tovar4{background: url(../img/icon/tovar4.png) center/cover no-repeat;}
.tovar5{background: url(../img/icon/tovar5.png) center/cover no-repeat;}
.tovar6{background: url(../img/icon/tovar6.png) center/cover no-repeat;}
.tovar7{background: url(../img/icon/tovar7.png) center/cover no-repeat;}
.tovar8{background: url(../img/icon/tovar8.png) center/cover no-repeat;}
h2{
    font-size: 20px;
    color: #231E1D;
    letter-spacing: 0%;
}
button{
    width: 100%;
    max-width: 150px;
    height: 50px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #000;
    cursor: pointer;
    border: none;
    align-self: flex-end;
}
button:active {
    box-shadow: inset 0 2px rgba(0, 0, 0, 0.125);
    transform: translateY(1px);
}